*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto",sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: #100e17;
}

body::-webkit-scrollbar {
  width: 0.525rem;
}

body::-webkit-scrollbar-track {
  color: black;
}

body::-webkit-scrollbar-thumb {
  background: #ff8a00;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-lg-6 {
  width: 50%;
  padding: 0 15px;
}

.col-lg-4 {
  width: 33.33%;
  padding: 0 15px;
}

.col-lg-3 {
  width: 25%;
  padding: 0 15px;
}

.col-lg-2 {
  width: 16.66%;
  padding: 0 15px;
}

.bg-color {
background:  #ff8a00;
}

a {
  text-decoration: none;
  background: transparent;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-lg-6 {
    width: 100%;
  }

  .col-lg-4 {
    width: 100%
  }

  .col-lg-3 {
    width: 100%;
  }

  .col-lg-2 {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-lg-2 {
    width: 100%;
  }
}